/* 顏色變數 */

/* 白色，由 1 開始，1 最純白 */
$white-1: #fff; // 用於卡片背景色

/* 灰色，由 1 開始，1 最淺 */

$gray-0: #f7f7f7; // 多用於 shadow
$gray-1: #ededed; // 多用於 shadow
$gray-2: #cfcfcf; // 多用於 border
$gray-3: #7c7c7c; // 多用於淺色文字、圖標
$gray-4: #5d5d5d; // 多用於深色文字、圖標
$gray-5: #5d5d5d90; // 多用於透明 shadow

/* 綠色，由 1 開始，1 最淺 */
$green-0: #d9f9f6; // 多用於深色文字、圖標
$green-1: #4ed3a9; // 多用於深色文字、圖標
$green-2: #39b787; // 多用於深色文字、圖標

/* 紅色，由 1 開始，1 最淺 */
$red-0: #f9ddd9; // 多用於深色文字、圖標
$red-1: #d34e4e; // 多用於深色文字、圖標
$red-2: #b73939; // 多用於深色文字、圖標
