/* 顏色變數 */

/* 白色，由 1 開始，1 最純白 */
$white-1: #fff; // 用於卡片背景色

/* 灰色，由 1 開始，1 最淺 */
$gray-1: #ededed; // 多用於 shadow
$gray-2: #cfcfcf; // 多用於 border
$gray-3: #7c7c7c; // 多用於淺色文字、圖標
$gray-4: #525252; // 多用於深色文字、圖標

/* 紅色，由 1 開始，1 最淺 */
$red-1: #eb615a; // 多用於深色文字、圖標
